#m-com {
    color: #000030;

}

.sec {
    width: 100%;
    height: 650px;
    display: flex;
}

.sec>.row1>h1,
.sec>.row1>h1>p {
    display: inline;
}

.sec>.row1 {
    flex: 24;

    padding-top: 70px;
    box-sizing: border-box;
}

.sec>.row1>p {
    margin-top: 50px;
    padding-right: 50px;
    box-sizing: border-box;
}

.sec>.row2 {
    flex: 17;
    margin-left: 40px;

    position: relative;
}

.sec>.row2>.ecl,
.sec>.row2>img{
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
}

.sec>.row2>.ecl {
    width: 510px;
    height: 510px;
    border-radius: 100%;

    background-color: #1d56bb;
}

.sec>.row2>img {
    top: 45%;
}

.sec>.row2>p {
    width: 100%;
    display: inline;
    text-align: center;

    position: absolute;
    bottom: 30px;
    left: 35px;
}